@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');


body {
    margin: 0;
    padding: 0;
}

.landing-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing-container.is-loading {
    pointer-events: none;
    user-select: none;
}

.landing-container.is-loading {
    pointer-events: none;
    user-select: none;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
}

.main-heading {
    font-size: 7.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    letter-spacing: -0.05em;

}

.tagline {
    font-size: 3.7rem;
    font-weight: 300;
    opacity: 0.9;
}


@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 5rem;
    }

    .tagline {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 480px) {

    .main-heading {
        font-size: 4.5rem;

    }

    .tagline {
        font-size: 2.3rem;
    }

    .content-center {
        width: 80%;
    }

}